*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}  


.btn{
    position:absolute;
    top:10px;
    left:45px;
    height:45px;
    width: 45px;
    background-color: #1b1b1b;
    z-index: 10;
    cursor: pointer;
    transition: left 0.4s ease;
    text-align: center;

}

.btn.click{
    left:260px;
}
.btn.click span:before{
    content: '\f00d';
  }

.btn span{
    color:white;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}
.sidebar{
    background-color: #1b1b1b;
    height:100vh;
    width:250px;
    color:#fff;
    position:fixed;
    top:0;
    left: -250px;

}
.sidebar.show{
    left:0;
}
nav{
   
    height:100%;
    width:100%;
}

.sidebar h4{
    text-align: center;
    font-size: 20px;
    margin:10px;
    margin-bottom:10px;
}

nav ul{
    list-style: none;
   
}

nav ul li{
    padding-left: 30px;
    line-height: 65px;
   
    width: 100%;
    border-bottom: 1px dotted #ececec;
    font-size: 17px;
}

nav ul li a{
    display: block;
    color: #fff;
    font-size: 17px;
    text-decoration: none;

}
nav ul li{
    position: relative;
}
nav ul li a span{
position: absolute;
top:30%;
right:20px;
transform: rotate(0deg);
font-size: 22px;
transition: transform 0.4s;
}
nav ul li a:hover span{
    transform:rotate(-180deg);
}
nav ul li a:hover{
    color:cyan;
    background-color: #1e1e1e;
}

nav ul ul{
    position: static;
  display: none;
  width: 100%;
   
}
nav ul .feat-show.show{
    display: block;
}
nav ul .serv-show.show{
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom:none;
    border-bottom: none;
}

nav ul ul li a{
    display: block;
   
    font-size: 17px;
    color:#e6e6e6;
    padding-left: 20px;
    width: 110%;
}
nav ul ul li:last-child{
    border-bottom: none;
}